---
import Head from './components/Head.astro';
import Header from './components/Header.astro';

// @ts-ignore
import GitHubLogo from '@astropub/icons/GitHubLogo';

const { frontmatter } = Astro.props;

const dateFormatter = new Intl.DateTimeFormat('en', { dateStyle: 'long' });
const date = new Date(frontmatter.timestamp * 1000);

interface Author {
	name: string;
	url: string;
}
---

<!DOCTYPE html>
<html lang='en'>
	<Head title={frontmatter.title} />
	<body>
		<Header />
		<main>
			<h1>{frontmatter.title}</h1>
			<slot />
		</main>
		<footer>
			this page was created on the {dateFormatter.format(date)} by {
				frontmatter.authors.map((author: Author, i: number) => (
					<a target='_blank' href={author.url}>
						{author.name}
						{frontmatter.authors.length !== i + 1 ? <span>, </span> : false}
					</a>
				))
			}
			<a
				class='source-button'
				href={`https://github.com/RUGMJ/redstone-wiki/blob/master/src/pages${frontmatter.url}.mdx?plain=1`}
				target='_blank'
				>View Source <GitHubLogo size='30' title='Github Icon' />
			</a>
		</footer>
	</body>
</html>
